body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url("./assets/images/Chinensis-BG-Transpa.png");
  background-size: cover; /* Bild wird skaliert, um den ganzen Bildschirm abzudecken */
  background-position: center; /* Bild wird zentriert */
  background-repeat: no-repeat; /* Verhindert die Wiederholung des Bildes */
  background-attachment: fixed; /* Bild bleibt fest, wenn die Seite gescrollt wird */
}

header {
  display: flex;
  justify-content: center; /* Zentriert das Logo horizontal */
  align-items: center;
  padding: 10px 0;
  background-color: #ffffff; /* Optional: Hintergrundfarbe des Headers */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: leichte Schattierung */
}

.logo {
  max-height: 180px; /* Begrenzung der Höhe des Logos */
  width: auto;
}

.container {
  max-width: 1200px; /* Maximale Breite für den Container */
  width: 80%; /* Breite des Containers */
  margin: 20px auto; /* Zentriert den Container */
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #00a2ff;
}

.search-fields {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.search-fields input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 18%;
}

.search-fields button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-fields button#reset-btn {
  background-color: #d9534f;
}

.search-fields button:hover {
  opacity: 0.9;
}

.result-item:last-child {
  border-bottom: none;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th,
.result-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.result-table th {
  background-color: #f2f2f2;
}

/* Media Queries für kleinere Bildschirme */
@media (max-width: 768px) {
  header {
    padding: 15px 0;
  }

  .logo {
    max-height: 60px; /* Kleinere Höhe für Mobilgeräte */
  }

  .search-fields {
    flex-direction: column; /* Vertikale Anordnung der Suchfelder */
    align-items: center; /* Zentriert die Suchfelder */
  }

  .search-fields input,
  .search-fields button {
    width: 90%; /* Breite der Eingabefelder und Buttons anpassen */
    margin-bottom: 10px; /* Abstand zwischen den Elementen */
  }
  .result-table thead {
    display: none; /* Kopf der Tabelle ausblenden */
  }

  .result-table tr {
    display: block; /* Jede Tabellenzeile als Block darstellen */
    margin-bottom: 20px; /* Abstand zwischen den Ergebnissen */
  }

  .result-table td {
    display: block;
    text-align: left;
    padding: 8px;
    position: relative;
    border-color: rgba(0, 0, 0, 0.671);
  }

  .result-table td::before {
    content: attr(data-label); /* Setzt den Kategorie-Namen vor den Wert */
    font-weight: bold; /* Kategorie-Namen fett anzeigen */
    display: block;
    margin-bottom: 5px; /* Abstand zwischen dem Label und dem Wert */
  }

  .result-table tr:last-child {
    margin-bottom: 40px; /* Abstand nach dem letzten Eintrag */
  }
}

@media (max-width: 480px) {
  .search-fields input,
  .search-fields button {
    width: 100%; /* Auf sehr kleinen Bildschirmen volle Breite */
  }

  .result-table th,
  .result-table td {
    padding: 8px; /* Padding für kleinere Bildschirme anpassen */
  }
}
