body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px; /* Maximale Breite für den Container */
  width: 80%; /* Breite des Containers */
  margin: 20px auto; /* Zentriert den Container */
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}

.search-fields {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.search-fields input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 18%;
}

.search-fields button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-fields button#reset-btn {
  background-color: #d9534f;
}

.search-fields button:hover {
  opacity: 0.9;
}

.result-item:last-child {
  border-bottom: none;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th,
.result-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.result-table th {
  background-color: #f2f2f2;
}

/* Media Queries für kleinere Bildschirme */
@media (max-width: 768px) {
  .search-fields {
    flex-direction: column; /* Vertikale Anordnung der Suchfelder */
    align-items: center; /* Zentriert die Suchfelder */
  }

  .search-fields input,
  .search-fields button {
    width: 90%; /* Breite der Eingabefelder und Buttons anpassen */
    margin-bottom: 10px; /* Abstand zwischen den Elementen */
  }

  .result-table thead {
    display: none; /* Tabelle Kopf ausblenden */
  }

  .result-table th,
  .result-table td {
    display: block; /* Zellen als Block anzeigen */
    text-align: right; /* Text nach rechts ausrichten */
    position: relative; /* Positionieren der Zellen */
    padding-left: 50%; /* Abstand links hinzufügen */
  }

  .result-table th::before,
  .result-table td::before {
    content: attr(data-label); /* Label für die Zellen anzeigen */
    position: absolute; /* Absolute Positionierung */
    left: 10px; /* Abstand links */
    width: calc(50% - 20px); /* Breite der Labels */
    padding-right: 10px; /* Abstand rechts */
    white-space: nowrap; /* Zeilenumbruch verhindern */
    text-align: left; /* Text links ausrichten */
    font-weight: bold; /* Fettdruck */
  }
}

@media (max-width: 480px) {
  .search-fields input,
  .search-fields button {
    width: 100%; /* Auf sehr kleinen Bildschirmen volle Breite */
  }

  .result-table th,
  .result-table td {
    padding: 8px; /* Padding für kleinere Bildschirme anpassen */
  }
}
